<div class="container mt-5 px-5">
    <div class="row">
        <h1>Política de cookies</h1>
        <p></p>
        <p>
            En "Adopta Una Mascota", nos comprometemos a proteger la privacidad y seguridad de nuestros usuarios en línea. Esta política explica 
            <strong>cómo utilizamos</strong> las cookies en nuestra web y qué opciones tienes como usuario en relación con su uso.
        </p>
        <p></p>
        <h2>¿Qué son las cookies?</h2>
    </div>
</div>



¿Qué son las cookies?
Las cookies son pequeños archivos de texto que se almacenan en tu ordenador o dispositivo móvil cuando visitas nuestra web. Estas cookies nos permiten reconocerte como usuario y personalizar tu experiencia en nuestra web.

Tipos de cookies que utilizamos:

Cookies esenciales: son necesarias para el funcionamiento de la web y te permiten navegar por ella y utilizar sus funcionalidades, como acceder a áreas seguras o realizar compras en línea.
Cookies de rendimiento: nos permiten analizar cómo los usuarios utilizan nuestra web, para mejorar su funcionamiento y la experiencia de usuario.
Cookies de funcionalidad: nos permiten recordar tus preferencias de navegación y personalizar el contenido que ves en nuestra web.
Cookies de publicidad: nos permiten mostrar publicidad personalizada en función de tus intereses y preferencias de navegación.
También utilizamos cookies de terceros, como Google Analytics y Facebook Ads, para analizar el tráfico de nuestra web y mejorar la publicidad que te mostramos. Estas cookies están sujetas a las políticas de privacidad de los proveedores correspondientes.

¿Cómo puedes gestionar las cookies?
Puedes gestionar las cookies en cualquier momento desde tu navegador, configurándolo para aceptar o rechazar todas las cookies, o para recibir una notificación cada vez que se envía una cookie. Ten en cuenta que si decides rechazar las cookies, es posible que algunas funcionalidades de nuestra web no estén disponibles para ti.

También puedes configurar tu navegador para borrar las cookies que se hayan almacenado en tu ordenador o dispositivo móvil.

¿Cómo puedes contactarnos?
Si tienes cualquier pregunta o sugerencia sobre nuestra política de cookies, no dudes en ponerte en contacto con nosotros a través de nuestro formulario de contacto en la web.

Esta política de cookies puede ser actualizada en cualquier momento, por lo que te recomendamos que la revises con regularidad.