<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>


<!-- Footer -->
<footer class="text-center text-lg-start custom-footer">
  <!-- Footer  -->
  <section>
    <!-- INICIO CONTENEDOR -->
    <div class="container text-center text-md-start mt-5 pt-5">

      <!-- INICIO FILA GENERAL -->
      <div class="row mt-3 justify-content-between">

        <!-- Inicio presentación empresa -->
        <div class="col-md-6 col-lg-4 mx-auto mb-4 px-4">
          <h6 class="text-uppercase fw-bold mb-4">DESARROLLO Y RSC</h6>
          <p>
            Por un desarrollo sostenible y un cuidado responsable, ¡únete al club!
            Entidad fundada por <strong>Belinda Cuesta, Fran García, Antonio Guijarro, 
            Paula Muerte y Raquel Álvarez</strong>
          </p>
          <div>
            <a class="fb-ic" href="https://es-es.facebook.com/" target="_blank"> 
              <i class="bi bi-facebook"></i>
            </a>


            <a class="fb-ic" href="https://twitter.com/?lang=es/" target="_blank">
               <i class="bi bi-twitter"></i>
            </a>


            <a class="fb-ic" href="https://www.instagram.com/" target="_blank"> 
              <i class="bi bi-instagram"></i>
            </a>


            <a class="fb-ic" href="https://es.linkedin.com/" target="_blank">
               <i class="bi bi-linkedin"></i>
            </a>


            <a class="fb-ic" href="https://www.pinterest.es/" target="_blank">
               <i class="bi bi-pinterest"></i>
            </a>

          </div>
        </div>
        <!-- Fin presentación empresa -->

        <!-- Inicio links -->
        <div class="col-md-6 col-lg-4 mx-auto mb-4 links">
          <div class="row justify-content-between">
            <h6 class="text-uppercase fw-bold mb-4">
              NUESTRA WEB
            </h6>
            <div class="col-md-6 col-lg-6 col-xl-6">
              <p><a href="../landingPage/home" class="text-reset">Home</a></p>
              <p><a href="../landingPage/aboutUs" class="text-reset">Sobre nosotros</a></p>
              <p><a href="../landingPage/contactUs" class="text-reset">Contacto</a></p>
              <p><a href="../landingPage/blog" class="text-reset">Blog</a></p>
            </div> 
            <div class="col-md-6 col-lg-6 col-xl-6">
              <p><a href="../landingPage/formularioAdopcion" class="text-reset">Dar en adopción</a></p>
              <p><a href="../landingPage/politica-privacidad" class="text-reset">Política de privacidad</a></p>
              <p><a href="../landingPage/politica-cookies" class="text-reset">Política de cookies</a></p>
              <p><a href="../landingPage/faqs" class="text-reset">FAQs</a></p>
            </div> 
          </div>
        </div>
        <!-- Fin links -->

        <!-- Inicio logo -->
        <div class="col-md-6 col-lg-4 mx-auto mb-4 d-none d-lg-block">
          <div class="contenedor-imagen">
            <img class="custom-image" src="/assets/logo-footer.png">
          </div>
        </div>
        <!-- Fin logo -->
        
      </div>
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4 custom-copyright">
    © 2023 Copyright: TeamOne
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->