<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <div class="container-fluid text-center text-md-left">
  
      <!-- FILA DE LOS 2 BLOQUES DE CONTENIDO-->
      <div class="row">
  
        <!-- COLUMNA IZQUIERDA -->
        <div class="col-md-6 mt-md-0 mt-3">
          <h5 class="text-uppercase font-weight-bold">Adopta Una Mascota</h5>

        <ul class="list-group list-group-small">
          <li class="list-group-item border-0">Home</li>
          <li class="list-group-item border-0">Quienes somos</li>
          <li class="list-group-item border-0">Contacta con nosotros</li>
          <li class="list-group-item border-0">Blog</li>
          <li class="list-group-item border-0">Dar en adopción</li>
        </ul>


        </div>
  
        <!-- COLUMNA DERECHA -->
        <div class="col-md-6 mb-md-0 mb-3">
          <h5 class="text-uppercase font-weight-bold">Desarrollo y responsabilidad social</h5>
          <p>Por un desarrollo sostenible y un cuidado responsable ¡Únete al club!
            <br>
            Entidad fundada por <strong>Belinda Cuesta, Fran García,
            Antonio Guijarro, Paula Muerte y Raquel Álvarez</strong>
          </p>
        </div>
      </div>
    </div>
    

    <div class="container-fluid">
    <!-- FILA DE LOGOTIPO-->
    <div class="row" id="iconosYlogo">

      <div class="col-md-6 logo">
        <img src="/assets/logo-png.png">
      </div> 

          <!-- FILA DE ICONOS-->
        <div class="col-md-6 py-5 icons">
            <a class="fb-ic" href="https://es-es.facebook.com/" target="_blank">
                <i class="fa fa-facebook fa-2x"></i>
            </a>
            <a class="tw-ic" href="https://twitter.com/?lang=es" target="_blank">
                <i class="fa fa-twitter fa-2x"></i>
            </a>
            <a class="li-ic" href="https://es.linkedin.com/" target="_blank">
                <i class="fa fa-linkedin fa-2x"></i>
            </a>
            <a class="ins-ic" href="https://www.instagram.com/" target="_blank">
                <i class="fa fa-instagram fa-2x"></i>
            </a>
            <a class="pin-ic" href="https://www.pinterest.es/" target="_blank">
              <i class="fa fa-pinterest fa-2x"> </i>
            </a>
        </div>
      </div>

  </div>
  
    <!-- FILA DEL COPYRIGHT-->
    <div class="footer-copyright text-center py-3">© 2023 Copyright:
      <a> TeamOne</a>
    </div>

  
  </footer>
  <!-- Footer -->



 