* {
    box-sizing: border-box;
}

.custom-footer {
    color: var(--bs-body-color);
    background-color: #f7e7f2;
}

.custom-copyright {
    background-color: #D18DBC;
}

.contendor-imagen {
    width: 30px;
    height: 30px;
}

.custom-image {
    object-fit: cover;
    width:100%;
    height:100%;
}

.fa {
    padding: 15px 30px 15px 0px;
    color:  var(--bs-body-color);
}

.fa:hover {
    color: #8FA5D5;
}