* {
    box-sizing: border-box;
}

footer {
    margin-top: 20px;
    margin-bottom: 0px;
}

.icons {
    text-align: left;
}

.logo {
    text-align: right;
}

.fb-ic {
    padding-left: 40px;
}

.fa {
    padding-right: 20px;
    color: #292C35;
}

img {
    height: 100px;
    margin-left: 20px;
}

h5, p {
    padding-top: 15px;
    font-family: 'Poppins', sans-serif;
}

h5 {
    font-weight: bold;
}

p {
    padding-left: 20px;
    padding-right: 20px;
}

.footer-copyright {
    background-color: #D18DBC;
}

.row {
    background-color: #EED2E6;
}

.fa:hover {
    color: #8FA5D5;
}