* {
    box-sizing: border-box;
}

.navbar {
    height: 150px;
    background-color: #8FA5D5 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: #292C35 !important;
    padding: 0px !important;
    margin: 0px !important;
} 

#navbarNav {
    justify-content: right;
    padding: 0px !important;
    margin-right: 40px !important;
    padding-left: 40px;
}
img {
    height: 200px;
    margin-left: 20px;
}

.nav-link {
    font-family: 'Poppins', sans-serif;
    text-align: end;
    color: #292C35 !important;
    font-size: 1.1rem;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

.nav-link:hover {
    color: #F7A940 !important;
}

ul {
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}

#adopcion {
    background-color: #292C35;
    color: #F7A940 !important;
    border-radius: 10px;
    padding: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px !important;
    margin-left: 10px;
}

#adopcion:hover {
    background-color: #F7A940;
    color: #292C35 !important;
    border-radius: 10px;
    padding: auto;
    text-align: center;
    justify-content: center;
    padding-bottom: 5px !important;
}