* {
    box-sizing: border-box;
}

.navbar {
    height: 150px;
    background-color: #8FA5D5 !important;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
} 

img {
    height: 100px;
    margin-left: 20px;
}