<div class="container mt-xl-5">
    <div class="row">

        <h1>Política de privacidad</h1>

        <p></p>

        <p>En "Adopta Una Mascota", nos tomamos muy en serio la privacidad y seguridad de 
            nuestros usuarios. Esta política de privacidad explica cómo recopilamos, 
            utilizamos y protegemos la información personal que nos proporcionas cuando 
            utilizas nuestra web.
        </p>

        <p></p>

        <h2>¿Qué información personal recopilamos?</h2>
        <p>Aquella generada al completar un formulario de contacto o enviar un correo
            electrónico. Esta información puede incluir <strong>tu nombre, e-mail y teléfono</strong>. Además, podemos tratar otra información que decidas compartir con 
            nosotros.<br><br>También podemos recopilar información sobre <strong>cómo utilizas nuestra web</strong>, 
            incluyendo la dirección IP de tu ordenador, la fecha y hora de acceso, 
            el navegador que estás utilizando y las páginas que visitas.
        </p>

        <p></p>
        
        <h2>¿Cómo utilizamos esta información?</h2>
        <p>Cualquier información que se recopile en nuestra página web podrá ser utilizada para los siguientes fines:
            <li>Mejorar nuestra web y nuestra app</li>
            <li>Personalizar tu experiencia de usuario</li>
            <li>Responder tus preguntas</li>
            <li>Con fines de investigación y análisis de mercado</li>
        </p>

        <p></p>

        <h2>¿Cómo protegemos tu información personal?</h2>
        <p>
            Tomamos <strong>medidas de seguridad técnicas y organizativas </strong>para proteger tu información personal contra el acceso no autorizado, la divulgación, la alteración o la destrucción. Esto incluye el uso de encriptación de datos, la restricción de acceso a la información personal y la monitorización regular de nuestros sistemas informáticos para detectar cualquier actividad sospechosa.
        </p>

        <p></p>

        <h2>¿Tu información personal se comparte?</h2>
        <p>No vendemos, alquilamos ni compartimos tu información personal con terceros con fines de marketing. Podemos compartir tu información personal <strong>con proveedores de servicios que trabajen en nuestro nombre</strong> o los actuales propietarios del animal, pero sólo en la medida necesaria para prestarte nuestros servicios.<br><br>
        También podemos compartir tu información personal si así lo exige la ley, para proteger nuestros derechos legales o los derechos de terceros, o para investigar y prevenir fraudes o actividades ilegales.
        </p>

        <p></p>

        <h2>¿Cómo puedes acceder o modificar tu información personal?</h2>
        <p>Puedes acceder o modificar tu información personal en cualquier momento a través de tu cuenta en nuestra app. Si deseas eliminar completamente tu cuenta y toda tu información personal, <b><a href="../landingPage/contactUs">ponte en contacto con nosotros</a></b> a través de nuestro formulario de contacto.
        </p>
        <p></p>
        <p>Esta política de privacidad puede ser actualizada en cualquier momento, por lo que te recomendamos que la revises con regularidad.</p>   
    </div>
</div>