<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<section class="container px-5 pt-5" >
    
    <!-- INICIO TÍTULO -->
    <h1 class="text-center mb-5 pt-5">Blog AUM</h1>
    <!-- FIN TÍTULO -->

    <!------------------------------ INICIO CARDS ------------------------------->
    <!-- INICIO CARD 1 -->
    <div class="jumbotron p-3 p-md-5 mb-5 text-white rounded bg-dark custom-bckg">
        <div class="col-md-6 px-0">
            <h2 class="display-5 font-italic">¿Cómo escoger la mascota correcta?</h2>
            <p class="lead my-3">Elegir mascota es una de las decisiones más importantes de tu vida, por ello aquí tenemos unos cuantos consejos para ayudarte</p>
            <p class="lead mb-0"><a type="button" class="btn btn-link text-white font-weight-" data-bs-toggle="modal" data-bs-target="#entrada1">- Seguir leyendo -</a></p>
        </div>
    </div>
    <!-- FIN CARD 1 -->

    <div class="row">
        <!-- INICIO CARD 2 -->
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-1.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">¡La nueva ley de mascotas ya está aquí!</h3>
                    <h5 class="card-subtitle mb-2 text-muted">05/04/2023</h5>
                    <p class="card-text">Esta ley ha sido diseñada para proteger a nuestros amigos peludos y garantizar su bienestar y calidad de vida en cualquier parte de nuestro país. Entra y descubre las nuevas medidas.</p>
                    <a type="button" class="btn btn-link font-weight-bold" data-bs-toggle="modal" data-bs-target="#entrada2">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <!-- FIN CARD 2 -->
        
        <!-- INICIO CARD 3 -->
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-2.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">5 consejos para adaptar una nueva mascota a tu hogar</h3>
                    <h5 class="card-subtitle mb-2 text-muted">18/03/2023</h5>
                    <p class="card-text">La llegada de un animal a tu casa puede ser un proceso emocionante pero también desafiante. Lee nuestros consejos para saber cómo facilitar el proceso.</p>
                    <a type="button" class="btn btn-link font-weight-bold" data-bs-toggle="modal" data-bs-target="#entrada3">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <!-- FIN CARD 3 -->
    </div>

    <div class="row">
        <!-- INICIO CARD 4 -->
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-3.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">El poder de la adopción: historias conmovedoras</h3>
                    <h5 class="card-subtitle mb-2 text-muted">01/03/2023</h5>
                    <p class="card-text"> 3 historias preciosas de mascotas adoptadas que han encontrado su hogar para siempre y han cambiado la vida de sus dueños.</p>
                    <a type="button" class="btn btn-link font-weight-bold" data-bs-toggle="modal" data-bs-target="#entrada4">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <!-- FIN CARD 4 -->

        <!-- INICIO CARD 5 -->
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-4.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">Razones por las que adoptar una mascota adulta</h3>
                    <h5 class="card-subtitle mb-2 text-muted">20/02/2023</h5>
                    <p class="card-text">La mayoría de las personas optan por cachorros o crías. Pero los animales adultos son una excelente opción.</p>
                    <a type="button" class="btn btn-link font-weight-bold" data-bs-toggle="modal" data-bs-target="#entrada5">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <!-- FIN CARD 5 -->
    </div>
    <!------------------------------ FIN CARDS -------------------------------->


    <!----------------------- INICIO MODALES (ENTRADAS) ------------------------>

    <!-- INICIO MODAL 1 -->
    <div class="modal fade" id="entrada1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- Inico header -->
                <div class="modal-header" style="background-color: #8FA5D5;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Fin header -->
                <!-- Inicio body -->
                <div class="modal-body mt-5 p-0">
                    <!-- Inicio contenido -->
                    <section class="container px-5">
                        <div class="row g-5">
                            <!-- INICIO COLUMNA IZQUIERDA (ENTRADA) -->
                            <div class="col-md-12 col-lg-9">
                                <!-- Inicio imagen cabecera -->
                                <div class="title-image">
                                    <img src="assets/images/blog/entrada-0.png" class="card-img-top" alt="...">
                                </div>
                                <!-- Fin imagen cabecera -->
                                <br>
                                <br>
                                <!-- Inicio fecha, título y subtítulo -->
                                <h4><i class="bi bi-calendar-event "></i>&nbsp; 15/04/2023</h4>
                                <h2>¿Cómo escoger la mascota correcta?</h2>
                                <p class="subtitle">
                                    Elegir una mascota puede ser una de las decisiones más importantes que tomes en tu vida, escoger la adecuada es
                                    determinante para vuestra futura relación. 
                                </p>
                                <!-- Fin fecha, título y subtítulo -->
                                <!-- Inicio cuerpo noticia -->
                                <p>
                                    Al adoptar una mascota, no solo estás asumiendo la responsabilidad de cuidar de otro ser vivo, sino que también estás invitando a un animal 
                                    a formar parte de tu hogar y tu vida. En esta entrada del blog, compartiré algunos consejos para elegir la mascota adecuada para ti:
                                </p>
                                <br>
                                <h3 class="section-title">#1 &nbsp; Considera tu estilo de vida</h3>
                                <p>
                                    El primer paso para elegir la mascota adecuada es evaluar tu estilo de vida. Si tienes un <strong>trabajo que te mantiene fuera de casa</strong> durante largas horas, puede ser difícil 
                                    cuidar de un perro o un gato que requiere mucha atención. Si tienes un <strong>hogar pequeño</strong>, un animal grande puede sentirse abrumado. Asegúrate de que la mascota que elijas 
                                    se adapte a tu estilo de vida y a tus necesidades.
                                </p>
                                <h3 class="section-title">#2 &nbsp; Evalúa tus habilidades como cuidador</h3>
                                <p>
                                    Antes de elegir una mascota, también debes considerar tus habilidades como cuidador. Si <strong>eres novato</strong> en el cuidado de mascotas, es posible que desees elegir una especie 
                                    o raza que sea más fácil de cuidar, como <strong>un gato o perro pequeño</strong>, o adoptar <strong>una mascota adulta y ya entrada</strong>, que tenga un comportamiento más estable.
                                </p>
                                <h3 class="section-title">#3 &nbsp; Investiga diferentes especies y razas</h3>
                                <p>
                                    También es importante hacer tu tarea e investigar diferentes especies y razas antes de tomar una decisión final. Si estás interesado en adoptar un perro, 
                                    por ejemplo, debes investigar diferentes razas y considerar <strong>factores como el tamaño, la energía, el temperamento y las necesidades de ejercicio</strong>. Si estás 
                                    interesado en adoptar un gato, debes considerar el nivel de actividad y el comportamiento de la raza que te interesa.
                                </p>
                                <h3 class="section-title">#4 &nbsp; Haz una visita previa al animal</h3>
                                <p>
                                    Si has decidido que quieres adoptar una mascota, es importante hacerle una visita previa, ya sea al refugio o al hogar donde reside actualmente. 
                                    Puedes hablar con los cuidadores o actual dueño para <strong>obtener más información sobre los antecedentes y necesidades</strong> del animal, y pasar algún tiempo 
                                    interactuando con él para evaluar si hay una conexión entre vosotros.
                                </p>
                                <h3 class="section-title">#5 &nbsp; Adopta, no compres</h3>
                                <p>
                                    Por último, es importante recordar que <strong>la adopción es la mejor opción</strong>. Al adoptar una mascota, no solo estás salvando una vida, sino que también 
                                    estás ayudando a aliviar la sobrepoblación de los refugios. Además, muchos refugios y organizaciones de rescate ofrecen <strong>servicios de adopción y 
                                    cuidado posteriores</strong> para asegurarse de que tanto tú como tu nueva mascota estén en un ambiente saludable y feliz.
                                </p>
                                <br>
                                <p>
                                    En resumen, elegir la mascota adecuada para ti puede ser una decisión importante y emocional. 
                                    Con un poco de investigación y preparación, puedes encontrar la mascota perfecta para ti y tu hogar. 
                                    La <a href="https://play.google.com/store/games" target="_blank">aplicación de AUM</a> permite aplicar una serie de filtros para encontrar una mascota que se ajuste a tus habilidades
                                    y necesidades.
                                </p>
                                <!-- Fin cuerpo noticia -->
                            </div>
                            <!-- FIN COLUMNA IZQUIERDA (ENTRADA) -->
                            <!-- INICIO COLUMNA DERECHA (EXTRAS) -->
                            <div class="col-lg-3 d-none d-lg-block">
                                <!-- Inicio entradas 2023 -->
                                <h3>Entradas 2023</h3>
                                    <li class="custom-link pt-2">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada2">¡La nueva ley de mascotas ya está aquí!</a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada3">
                                            5 consejos para adaptar una nueva mascota a tu hogar
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada4">
                                            El poder de la adopción: historias conmovedoras
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada5">
                                            Razones por las que adoptar a una mascota adulta
                                        </a>
                                    </li>
                                <!-- Fin entradas 2023-->
                                <!-- Inicio logo -->
                                <div class="contenedor-imagen">
                                    <img src="/assets/logo-png.png" class="custom-image">
                                </div>
                                <!-- Fin logo -->
                                <!-- Inicio noticia relacionada -->
                                <h3>Noticia relacionada</h3>
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/images/blog/entrada-1.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">¡La nueva ley de mascotas ya está aquí</h5>
                                        <p class="card-text">Diseñada para proteger a nuestros amigos peludos y mejorar su bienestar en el país.</p>
                                        <a type="button" class="btn btn-primary custom-buttom" data-bs-toggle="modal" data-bs-target="#entrada2"> Leer más</a>
                                    </div>
                                </div>
                                <!-- Fin noticia relacionada -->
                            </div>
                            <!-- FIN COLUMNA DERECHA (EXTRAS) -->
                        </div>
                    </section>
                    <!-- Fin contenido -->
                    <!-- Inicio footer -->
                    <app-footer></app-footer>
                    <!-- Fin footer -->
                </div>
                <!-- Fin body -->
            </div>
        </div>
    </div>
    <!-- FIN MODAL 1 -->

    <!-- INICIO MODAL 2 -->
    <div class="modal fade" id="entrada2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- Inico header -->
                <div class="modal-header" style="background-color: #8FA5D5;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Fin header -->
                <!-- Inicio body -->
                <div class="modal-body mt-5 p-0">
                    <!-- Inicio contenido -->
                    <section class="container px-5">
                        <div class="row g-5">
                            <!-- INICIO COLUMNA IZQUIERDA (ENTRADA) -->
                            <div class="col-md-12 col-lg-9">
                                <!-- Inicio imagen cabecera -->
                                <div class="title-image">
                                    <img src="assets/images/blog/entrada-1.png" class="card-img-top" alt="...">
                                </div>
                                <!-- Fin imagen cabecera -->
                                <br>
                                <br>
                                <!-- Inicio fecha, título y subtítulo -->
                                <h4><i class="bi bi-calendar-event "></i>&nbsp; 05/04/2023</h4>
                                <h2>¡La nueva ley de mascotas ya está aquí!</h2>
                                <p class="subtitle">
                                    Esta ley ha sido diseñada para proteger a nuestros amigos peludos y mejorar su bienestar 
                                    en todo el país.
                                </p>
                                <!-- Fin fecha, título y subtítulo -->
                                <!-- Inicio cuerpo noticia -->
                                <p>
                                    La ley de mascotas establece que todos los propietarios de mascotas deben <strong>inscribir
                                    a sus animales</strong> en el registro nacional de mascotas correspondiente a su país. 
                                    Este registro incluirá:
                                    <br><br>
                                    <li>Información sobre la raza.</li>
                                    <li>Rasgos físicos descriptivos.</li>
                                    <li>Nombre de la mascota.</li>
                                    <li>Dueño actual y residencia.</li>
                                    <br>
                                    También se requerirá que los propietarios mantengan, en todo momento, a sus mascotas <strong>con 
                                    correa y bajo control</strong> en cualquier espacio público.
                                </p>
                                <p>
                                    La ley también establece <strong>sanciones más severas para aquellos que maltraten o 
                                    descuiden</strong> a sus mascotas. Los dueños que sean condenados por crueldad animal pueden enfrentar 
                                    multas significativas y penas de cárcel.
                                </p>
                                <p>
                                    Además, también establece requisitos más estrictos para <strong>las tiendas de mascotas y los 
                                    criadores</strong>. Las tiendas de mascotas tendrán que cumplir con <strong>estándares más 
                                    altos</strong> de bienestar animal, y los criadores deberán <strong>registrarse y cumplir con 
                                    ciertos requisitos</strong> de bienestar animal.
                                </p>
                                <p>
                                    En resumen, la nueva ley de mascotas es una gran noticia para los dueños de mascotas y sus amigos 
                                    peludos. Al establecer <strong>requisitos más estrictos para los propietarios y sanciones más severas para 
                                    los maltratadores</strong> de animales, la ley ayudará a garantizar que nuestras mascotas reciban <strong>el cuidado 
                                    que merecen</strong>. ¡Así que asegúrate de mantener a tu mascota registrada y bajo control en público, y 
                                    trata a tu amigo peludo con el amor y el respeto que se merece!
                                </p>
                                    
                                    
                                <p>
                                    Si estás buscando un nuevo compañero peludo y no sabes por donde empezar, <a href="https://play.google.com/store/games" target="_blank">
                                    descarga nuestra aplicación</a> y encuentra a cientos de animales que necesitan un nuevo hogar donde vivir para siempre.
                                </p>
                                <!-- Fin cuerpo noticia -->
                            </div>
                            <!-- FIN COLUMNA IZQUIERDA (ENTRADA) -->
                            <!-- INICIO COLUMNA DERECHA (EXTRAS) -->
                            <div class="col-lg-3 d-none d-lg-block">
                                <!-- Inicio entradas 2023 -->
                                <h3>Entradas 2023</h3>
                                    <li class="custom-link pt-2">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada1">
                                            ¿Cómo escoger la mascota correcta?
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada3">
                                            5 consejos para adaptar una nueva mascota a tu hogar
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada4">
                                            El poder de la adopción: historias conmovedoras
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada5">
                                            Razones por las que adoptar a una mascota adulta
                                        </a>
                                    </li>
                                <!-- Fin entradas 2023-->
                                <!-- Inicio logo -->
                                <div class="contenedor-imagen">
                                    <img src="/assets/logo-png.png" class="custom-image">
                                </div>
                                <!-- Fin logo -->
                                <!-- Inicio noticia relacionada -->
                                <h3>Noticia relacionada</h3>
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/images/blog/entrada-0.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">¿Cómo escoger la mascota correcta?</h5>
                                        <p class="card-text">Consejos para ayudarte a escoger el compañero perfecto</p>
                                        <a type="button" class="btn btn-primary custom-buttom" data-bs-toggle="modal" data-bs-target="#entrada1"> Leer más</a>
                                    </div>
                                </div>
                                <!-- Fin noticia relacionada -->
                            </div>
                            <!-- FIN COLUMNA DERECHA (EXTRAS) -->
                        </div>
                    </section>
                    <!-- Fin contenido -->
                    <!-- Inicio footer -->
                    <app-footer></app-footer>
                    <!-- Fin footer -->
                </div>
                <!-- Fin body -->
            </div>
        </div>
    </div>
    <!-- FIN MODAL 2 -->

    <!-- INICIO MODAL 3 -->
    <div class="modal fade" id="entrada3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- Inico header -->
                <div class="modal-header" style="background-color: #8FA5D5;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Fin header -->
                <!-- Inicio body -->
                <div class="modal-body mt-5 p-0">
                    <!-- Inicio contenido -->
                    <section class="container px-5">
                        <div class="row g-5">
                            <!-- INICIO COLUMNA IZQUIERDA (ENTRADA) -->
                            <div class="col-md-12 col-lg-9">
                                <!-- Inicio imagen cabecera -->
                                <div class="title-image">
                                    <img src="assets/images/blog/entrada-2.png" class="card-img-top" alt="...">
                                </div>
                                <!-- Fin imagen cabecera -->
                                <br>
                                <br>
                                <!-- Inicio fecha, título y subtítulo -->
                                <h4><i class="bi bi-calendar-event "></i>&nbsp; 18/03/2023</h4>
                                <h2>5 consejos para adaptar una nueva mascota a tu hogar</h2>
                                <p class="subtitle">
                                    La llegada de un animal a tu casa puede ser un proceso emocionante pero también desafiante. 
                                    Lee nuestros consejos para saber cómo facilitar el proceso.
                                </p>
                                <!-- Fin fecha, título y subtítulo -->
                                <!-- Inicio cuerpo noticia -->
                                <p>
                                    Al igual que los humanos, las mascotas también necesitan tiempo y paciencia para adaptarse a un nuevo entorno y establecer una relación 
                                    con sus nuevos dueños. Aquí te ofrecemos algunos consejos para ayudar a que este proceso sea más suave y exitoso.
                                </p>
                                <br>
                                <h3 class="section-title">#1 &nbsp; Dale tiempo a tu mascota para adaptarse</h3>
                                <p>
                                    Es importante recordar que tu mascota <strong>puede estar asustada y confundida</strong> en su nuevo entorno. Permítele explorar a su propio ritmo y 
                                    asegúrate de que tenga un <strong>lugar seguro y cómodo</strong> para dormir y descansar.
                                </p>
                                <h3 class="section-title">#2 &nbsp; Establece una rutina</h3>
                                <p>
                                    Las mascotas se sienten seguras y felices cuando tienen una rutina establecida. Establece horarios regulares <strong>para alimentar, pasear y jugar con tu 
                                    mascota</strong>, y asegúrate de que los miembros de tu hogar estén involucrados en la rutina para que se sienta parte de la familia.
                                </p>
                                <h3 class="section-title">#3 &nbsp; Haz que el animal se sienta cómodo</h3>
                                <p>
                                    Dale a tu mascota un espacio seguro y acogedor en el que se sienta cómoda y protegida. Puedes proporcionarle <strong>juguetes, una cama confortable y su manta 
                                    favorita</strong> para que se sienta en casa.
                                </p>
                                <h3 class="section-title">#4 &nbsp; Sé paciente y amoroso</h3>
                                <p>
                                    Tu nuevo amigo puede necesitar tiempo para establecer una conexión contigo. No <strong>apresures ni fuerces los primeros encuentros</strong>. Sé paciente,
                                    amoroso y constante en el trato con tu mascota, y poco a poco podrás <strong>establecer una relación sólida y significativa</strong>.
                                </p>
                                <h3 class="section-title">#5 &nbsp; Obtén la ayuda de un profesional si es necesario</h3>
                                <p>
                                    Si tu mascota está luchando para adaptarse a su nuevo hogar, puede ser útil buscar la ayuda de un profesional. <strong>Un entrenador o un veterinario</strong> 
                                    pueden ofrecer consejos útiles y estrategias para ayudar a que tu mascota se adapte y se sienta cómoda en su nuevo hogar.
                                </p>
                                <br>
                                <p>
                                    Adaptar una mascota a un nuevo hogar puede ser un proceso desafiante, pero con paciencia, amor y cuidado, puedes conseguir una conexión sólida. 
                                    Si gestionas una adopción a través de <a href="https://play.google.com/store/games" target="_blank">nuestra aplicación</a> contarás con un servicio 
                                    de atención y asistencia posterior al trámite, por lo que te sentirás acompañado durante todo el proceso.
                                </p>
                                <!-- Fin cuerpo noticia -->
                            </div>
                            <!-- FIN COLUMNA IZQUIERDA (ENTRADA) -->
                            <!-- INICIO COLUMNA DERECHA (EXTRAS) -->
                            <div class="col-lg-3 d-none d-lg-block">
                                <!-- Inicio entradas 2023 -->
                                <h3>Entradas 2023</h3>
                                    <li class="custom-link pt-2">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada1">
                                            ¿Cómo escoger la mascota correcta?
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada2">
                                            ¡La nueva ley de mascotas ya está aquí!
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada4">
                                            El poder de la adopción: historias conmovedoras
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada5">
                                            Razones por las que adoptar a una mascota adulta
                                        </a>
                                    </li>
                                <!-- Fin entradas 2023-->
                                <!-- Inicio logo -->
                                <div class="contenedor-imagen">
                                    <img src="/assets/logo-png.png" class="custom-image">
                                </div>
                                <!-- Fin logo -->
                                <!-- Inicio noticia relacionada -->
                                <h3>Noticia relacionada</h3>
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/images/blog/entrada-0.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">¿Cómo escoger la mascota correcta?</h5>
                                        <p class="card-text">Consejos para ayudarte a escoger el compañero perfecto</p>
                                        <a type="button" class="btn btn-primary custom-buttom" data-bs-toggle="modal" data-bs-target="#entrada1"> Leer más</a>
                                    </div>
                                </div>
                                <!-- Fin noticia relacionada -->
                            </div>
                            <!-- FIN COLUMNA DERECHA (EXTRAS) -->
                        </div>
                    </section>
                    <!-- Fin contenido -->
                    <!-- Inicio footer -->
                    <app-footer></app-footer>
                    <!-- Fin footer -->
                </div>
                <!-- Fin body -->
            </div>
        </div>
    </div>
    <!-- FIN MODAL 3 -->

    <!-- INICIO MODAL 4 -->
    <div class="modal fade" id="entrada4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- Inico header -->
                <div class="modal-header" style="background-color: #8FA5D5;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Fin header -->
                <!-- Inicio body -->
                <div class="modal-body mt-5 p-0">
                    <!-- Inicio contenido -->
                    <section class="container px-5">
                        <div class="row g-5">
                            <!-- INICIO COLUMNA IZQUIERDA (ENTRADA) -->
                            <div class="col-md-12 col-lg-9">
                                <!-- Inicio imagen cabecera -->
                                <div class="title-image">
                                    <img src="assets/images/blog/entrada-3.png" class="card-img-top" alt="...">
                                </div>
                                <!-- Fin imagen cabecera -->
                                <br>
                                <br>
                                <!-- Inicio fecha, título y subtítulo -->
                                <h4><i class="bi bi-calendar-event "></i>&nbsp; 01/03/2023</h4>
                                <h2>El poder de la adopción: historias conmovedoras</h2>
                                <p class="subtitle">
                                    La adopción de mascotas no solo salva vidas, sino que también cambia vidas. Encontrar un amigo peludo con el
                                    que compartir el día a día puede suponer un antes y un después en ti.
                                </p>
                                <!-- Fin fecha, título y subtítulo -->
                                <!-- Inicio cuerpo noticia -->
                                <p>
                                    Ofrecer un hogar seguro a una mascota <strong>supone recibir todo el amor y la compañía que tienen para ofrecer</strong>. En la 
                                    entrada de hoy, compartimos las historias de usuarios que adotaron a sus animales a través de nuestra app y cuya vida ha cambiado para siempre:
                                </p>
                                <br>
                                <h3 class="section-title">#1 &nbsp; Roberto y Max, el perro callejero</h3>
                                <p>
                                    Max era un perro callejero solitario y maltratado que vivía en las calles de la ciudad. 
                                    Después de pasar semanas vagando por las calles, fue llevado a un refugio local. Después de un chequeo médico, se descubrió que <strong>Max estaba sano y solo 
                                        necesitaba amor y atención</strong>.
                                </p>
                                <p>
                                    Poco después, Roberto tomo la decisión de adoptar un animal y, a través de AUM hizo que Max se convirtiera en su mejor amigo y compañero fiel.
                                    Actualmente, Roberto <strong>recuerda la adopcioón como "la mejor decisión que he tomado en mi vida"</strong>.
                                </p>
                                
                                <h3 class="section-title">#2 &nbsp; Alicia, Juan y Luna, la gata rescatada</h3>
                                <p>
                                    Luna fue rescatada de una casa abandonada y destartalada en la que había estado atrapada durante semanas. Con su pelaje enredado y sucio, <strong>Luna 
                                    era una sombra de lo que fue una vez</strong>. Después de ser llevada a una casa de acogida, Luna fue tratada por un veterinario y desparasitada.
                                </p>
                                <p>
                                    Finalmente, fue adoptada por Alicia y Juan, una joven pareja que se acababa de mudar a la ciudad. Con tiempo, amor y una atención absoluta
                                    Luna recuperó su pelaje suave y sedoso, y <strong>se convirtió en un miembro más de la familia</strong>.
                                </p>
                                <h3 class="section-title">#3 &nbsp; Sonia y Rocky, el cachorro infeliz</h3>
                                <p>
                                    Rocky era un cachorro, de apenas 3 meses, que <strong>vagaba por las calles en busca de amor y compañía</strong>. Después de ser llevado al veterinario, 
                                    Rocky rápidamente llamó la atención de una chica que buscaba un perro amistoso y leal. 
                                </p>
                                <p>
                                    Tras llevarlo a casa, Sonia descubrió que Rocky no solo era amistoso, sino también muy inteligente y enérgico. Con el tiempo, el cachorro 
                                    aprendió a sentarse, tumbarse y dar la pata, llegando a <strong>participar y ganar concursos por todo el país</strong>.
                                </p>   
                                <br>
                                <p>
                                    Estas historias son solo breves ejemplos de las muchas que ilustran el poder de la adopción de mascotas. Si estás considerando adoptar 
                                    un animal, asegúrate de hacerlo por vías adecuadas y seguras. En nuestra aplicación <a href="https://play.google.com/store/games" target="_blank">
                                    "Adopta Una Mascota"</a> contarás con un servicio completo: desde la búsqueda de tu compañero perfecto, hasta una atención post-trámite para
                                    ayudarte en la adaptación.
                                </p>
                                <!-- Fin cuerpo noticia -->
                            </div>
                            <!-- FIN COLUMNA IZQUIERDA (ENTRADA) -->
                            <!-- INICIO COLUMNA DERECHA (EXTRAS) -->
                            <div class="col-lg-3 d-none d-lg-block">
                                <!-- Inicio entradas 2023 -->
                                <h3>Entradas 2023</h3>
                                    <li class="custom-link pt-2">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada1">
                                            ¿Cómo escoger la mascota correcta?
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada3">
                                            5 consejos para adaptar una nueva mascota a tu hogar
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada2">
                                            ¡La nueva ley de mascotas ya está aquí!
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada5">
                                            Razones por las que adoptar a una mascota adulta
                                        </a>
                                    </li>
                                <!-- Fin entradas 2023-->
                                <!-- Inicio logo -->
                                <div class="contenedor-imagen">
                                    <img src="/assets/logo-png.png" class="custom-image">
                                </div>
                                <!-- Fin logo -->
                                <!-- Inicio noticia relacionada -->
                                <h3>Noticia relacionada</h3>
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/images/blog/entrada-0.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">¿Cómo escoger la mascota correcta?</h5>
                                        <p class="card-text">Consejos para ayudarte a escoger el compañero perfecto</p>
                                        <a type="button" class="btn btn-primary custom-buttom" data-bs-toggle="modal" data-bs-target="#entrada1"> Leer más</a>
                                    </div>
                                </div>
                                <!-- Fin noticia relacionada -->
                            </div>
                            <!-- FIN COLUMNA DERECHA (EXTRAS) -->
                        </div>
                    </section>
                    <!-- Fin contenido -->
                    <!-- Inicio footer -->
                    <app-footer></app-footer>
                    <!-- Fin footer -->
                </div>
                <!-- Fin body -->
            </div>
        </div>
    </div>
    <!-- FIN MODAL 4 -->

    <!-- INICIO MODAL 5 -->
    <div class="modal fade" id="entrada5" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-fullscreen">
            <div class="modal-content">
                <!-- Inico header -->
                <div class="modal-header" style="background-color: #8FA5D5;">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- Fin header -->
                <!-- Inicio body -->
                <div class="modal-body mt-5 p-0">
                    <!-- Inicio contenido -->
                    <section class="container px-5">
                        <div class="row g-5">
                            <!-- INICIO COLUMNA IZQUIERDA (ENTRADA) -->
                            <div class="col-md-12 col-lg-9">
                                <!-- Inicio imagen cabecera -->
                                <div class="title-image">
                                    <img src="assets/images/blog/entrada-4.png" class="card-img-top" alt="...">
                                </div>
                                <!-- Fin imagen cabecera -->
                                <br>
                                <br>
                                <!-- Inicio fecha, título y subtítulo -->
                                <h4><i class="bi bi-calendar-event "></i>&nbsp; 20/02/2023</h4>
                                <h2>Razones por las que adoptar una mascota adulta</h2>
                                <p class="subtitle">
                                    La mayoría de las personas optan por cachorros o crías. 
                                    Pero los animales adultos son una excelente opción.
                                </p>
                                <!-- Fin fecha, título y subtítulo -->
                                <!-- Inicio cuerpo noticia -->
                                <p>
                                    ¿Por qué adoptar una mascota adulta es una excelente opción? A menudo, nos sentimos atraídos 
                                    por la ternura y energía de las crías, sin embargo, <strong>los animales adultos son igual de amorosos 
                                    y leales</strong>. En esta entrada te presentamos las ventajas que estos presentan frente a los cachorros. 
                                </p>
                                <br>
                                <h3 class="section-title">#1 &nbsp; Ya están entrenados</h3>
                                <p>
                                    Una de las mayores ventajas de adoptar una mascota adulta es que probablemente ya estén entrenados en aspectos 
                                    básicos como <strong>usar la caja de arena o salir a hacer sus necesidades afuera</strong>. También pueden tener ciertas habilidades, 
                                    como caminar con correa o incluso algunos trucos.
                                </p>
                                <h3 class="section-title">#2 &nbsp; Personalidad formada</h3>
                                <p>
                                    A diferencia de los cachorros, cuyas personalidades aún están en desarrollo, los animales adultos tienen 
                                    personalidades ya formadas. Esto significa que <strong>sabes exactamente lo que estás obteniendo</strong> y puedes 
                                    encontrar una mascota que se adapte perfectamente a tu estilo de vida y personalidad.
                                </p>
                                <h3 class="section-title">#3 &nbsp; Menos demanda de tiempo</h3>
                                <p>
                                    <strong>Los cachorros requieren una atención constante, cuidado y entrenamiento</strong>, mientras que los animales adultos 
                                    ya han superado esas etapas iniciales. Esto significa que los adoptantes de mascotas adultas tienen un 
                                    poco más de libertad para su vida diaria.
                                </p>
                                <h3 class="section-title">#4 &nbsp; Mayor adaptabilidad</h3>
                                <p>
                                    A menudo, los animales adultos han vivido en hogares antes, lo que significa que pueden ser más adaptables 
                                    a un nuevo entorno. Además, si adoptas un perro o gato adulto de un refugio, <strong>probablemente habrán sido 
                                    expuestos a diferentes entornos y situaciones</strong>, lo que les dará más herramientas para adaptarse a su nuevo hogar.
                                </p>
                                <h3 class="section-title">#5 &nbsp; Ayuda a los refugios</h3>
                                <p>
                                    Por último, al adoptar una mascota adulta, <strong>estás ayudando a aliviar la sobrepoblación de los refugios</strong>. Los 
                                    animales adultos son los menos adoptados y muchos permanecen en los refugios durante largos períodos de 
                                    tiempo, a veces indefinidamente. Al adoptar una mascota adulta, estás brindando a un animal <strong>una segunda 
                                    oportunidad</strong> y ayudando a los refugios a mantener su capacidad para ayudar a otros animales necesitados.
                                </p>
                                <br>
                                <p>
                                    En resumen, adoptar una mascota adulta puede ser una excelente opción para muchas personas. No solo obtienes 
                                    un animal entrenado y con una personalidad formada, sino que también ayudas a los refugios y das un hogar
                                    a un animal que lo necesita. Si <a href="https://play.google.com/store/games" target="_blank">descargs nuestra 
                                    aplicación</a> podrás filtrar los animales disponibles por su edad y ayudar a uno de estos amiguitos peludos.
                                </p>
                                <!-- Fin cuerpo noticia -->
                            </div>
                            <!-- FIN COLUMNA IZQUIERDA (ENTRADA) -->
                            <!-- INICIO COLUMNA DERECHA (EXTRAS) -->
                            <div class="col-lg-3 d-none d-lg-block">
                                <!-- Inicio entradas 2023 -->
                                <h3>Entradas 2023</h3>
                                    <li class="custom-link pt-2">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada1">
                                            ¿Cómo escoger la mascota correcta?
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada3">
                                            5 consejos para adaptar una nueva mascota a tu hogar
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada4">
                                            El poder de la adopción: historias conmovedoras
                                        </a>
                                    </li>
                                    <hr>
                                    <li class="custom-link">
                                        <a type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#entrada5">
                                            Razones por las que adoptar a una mascota adulta
                                        </a>
                                    </li>
                                <!-- Fin entradas 2023-->
                                <!-- Inicio logo -->
                                <div class="contenedor-imagen">
                                    <img src="/assets/logo-png.png" class="custom-image">
                                </div>
                                <!-- Fin logo -->
                                <!-- Inicio noticia relacionada -->
                                <h3>Noticia relacionada</h3>
                                <div class="card" style="width: 18rem;">
                                    <img src="assets/images/blog/entrada-0.png" class="card-img-top" alt="...">
                                    <div class="card-body">
                                        <h5 class="card-title">¿Cómo escoger la mascota correcta?</h5>
                                        <p class="card-text">Consejos para ayudarte a escoger el compañero perfecto</p>
                                        <a type="button" class="btn btn-primary custom-buttom" data-bs-toggle="modal" data-bs-target="#entrada1"> Leer más</a>
                                    </div>
                                </div>
                                <!-- Fin noticia relacionada -->
                            </div>
                            <!-- FIN COLUMNA DERECHA (EXTRAS) -->
                        </div>
                    </section>
                    <!-- Fin contenido -->
                    <!-- Inicio footer -->
                    <app-footer></app-footer>
                    <!-- Fin footer -->
                </div>
                <!-- Fin body -->
            </div>
        </div>
    </div>
    <!-- FIN MODAL 5 -->

    <!----------------------- FIN MODALES (ENTRADAS) ------------------------>
    
</section>



