<section class="container px-5" style="margin-top: 250px;">
    
    <h1 class="text-center mb-5">Blog AUM</h1>

    <div class="jumbotron p-3 p-md-5 mb-5 text-white rounded bg-dark custom-bckg">
        <div class="col-md-6 px-0">
            <h2 class="display-4 font-italic">Title of a longer featured blog post</h2>
            <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what's most interesting in this post's contents.</p>
            <p class="lead mb-0"><a href="#" class="text-white font-weight-bold">- Seguir leyendo -</a></p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-1.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">¡La nueva ley de mascotas ya está aquí!</h3>
                    <h5 class="card-subtitle mb-2 text-muted">05/04/2023</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-1.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">¡La nueva ley de mascotas ya está aquí!</h3>
                    <h5 class="card-subtitle mb-2 text-muted">05/04/2023</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-1.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">¡La nueva ley de mascotas ya está aquí!</h3>
                    <h5 class="card-subtitle mb-2 text-muted">05/04/2023</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12">
            <div class="card mb-3 custom-border">
                <img class="card-img-top" src="assets/images/blog/entrada-1.png" alt="Card image cap">
                <div class="card-body p-4">
                    <h3 class="card-title">¡La nueva ley de mascotas ya está aquí!</h3>
                    <h5 class="card-subtitle mb-2 text-muted">05/04/2023</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <a href="#">- Seguir leyendo -</a>
                </div>
            </div>
        </div>
    </div>
    
</section>

