@font-face {
    font-family: poppins-bold;
    src: url(/assets/fonts/Poppins-Bold.ttf) format("opentype");
}

@font-face {
    font-family: poppins-extraLight;
    src: url(/assets/fonts/Poppins-ExtraLight.ttf) format("opentype");
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 20px;
    margin-top: 50px;
    color: #292C35;
    font-weight: bold;
    text-shadow: 5px 5px 4px #8FA5D5;
    margin-top: 160px;
}

h3, h2 {
    font-family: "poppins-bold";
    padding-bottom: 1%;
}

h5 {
    font-family: "poppins-extraLight";
}

p {
    font-size: large;
}

a {
    color: #D18DBC;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #8FA5D5 !important;
}

.custom-bckg {
    background-image: url("src/assets/images/blog/entrada-0.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.contendor-imagen {
    width: 400px;
    height: 400px;
}

.custom-image {
    object-fit: contain;
    width:100%;
    height:100%;
}

.custom-buttom {
    color: white !important;
    background-color: #F6A83F;
    border-color: #F6A83F;
    
}

.title-image {
    box-shadow: 5px 5px 4px #8FA5D5;;
}

.custom-link a {
    color: black;
    font-weight: 400;
    text-align: left;
    padding: 0px 0px 0px 10px;
    
}

.custom-link {
    list-style: none;
}

h4, i {
    color: #D18DBC;
    font-family: "poppins-extraLight";
    padding-bottom: 10px;
    font-weight: bold;
}

.subtitle {
    font-weight: bold;
    color: #D18DBC;
}

.section-title {
    font-weight: 700;
    font-family: "poppins-extraLight";
}