
<body>
    
<h1>Quienes Somos...</h1>
<div id="logo">
<img src="./assets/logo-png.png" class="img-fluid">
</div>

<!--CARDS EQUIPO-->
<div class="container">

<div class="row uno">

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/FRAN.jpg">
    <div class="card-body">
       <h6>Fran García</h6> 
      <p class="card-text">Desarrollador de Software, especializado en backend y filántropo de los animales.</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/BELINDA.jpg">
    <div class="card-body">
       <h6>Belinda Cuesta</h6> 
      <p class="card-text">Ingeniera de telecomunicaciones, programadora y trabajadora por el bienestar animal</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/PAULA.jpg">
    <div class="card-body">
      <h6>Paula Muerte</h6>  
      <p class="card-text">Desarrolladora de software, especialializada en desarrollo web y creadora de espacios bonitos</p>
    </div>
</div>
</div> <!--fin ROW-->

<div class="row dos">
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/TONI.jpg">
    <div class="card-body">
      <h6>Antonio Guijarro</h6>  
      <p class="card-text">CEO de su propia empresa Nytelweb y facilitador de encuentros entre mascotas y personas que quieren un miembro más en su familia</p>
    </div>
</div>

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="./assets/images/RAQUEL.jpg">
    <div class="card-body">
        <h6>Raquel Álvarez</h6>
      <p class="card-text">Desarrolladora de software especializada en desarrollo mobile y firme defensora de los derechos de los animales</p>
    </div>
</div>

</div> <!--FIN ROW-->
</div> <!--FIN CONTAINER-->

 
  <!--INFORMACION-->
<div class="container">
<div id="azul">
<h3> Cómo nace <span id="adopta">Adopta Una Mascota</span> </h3>
<div id="filaUno">
    <img src="./assets/images/TEAM.jpg" id="imagenUno" class="rounded float-left">
<p> <br> Cuando un grupo de compañeros y amigos decidimos poner al servicio de los demás la tecnología con el objetivo de facilitar la adopción de animales en situaciones de precariedad a personas con una gran conciencia social y amor por los animales. <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-hearts" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M11.5 1.246c.832-.855 2.913.642 0 2.566-2.913-1.924-.832-3.421 0-2.566ZM9 5a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm-9 8c0 1 1 1 1 1h10s1 0 1-1-1-4-6-4-6 3-6 4Zm13.5-8.09c1.387-1.425 4.855 1.07 0 4.277-4.854-3.207-1.387-5.702 0-4.276ZM15 2.165c.555-.57 1.942.428 0 1.711-1.942-1.283-.555-2.281 0-1.71Z"/>
    </svg>
    Por que la tecnología nos puede hacer la vida mejor y más fácil a todos.</p>
</div>
</div>

<div id="rosa">
<h3>Cúales son nuestros principios</h3>
<div id="filaDos">
    <img src="./assets/images/DEVELOPERS.jpg" id="imagenDos" class="rounded float-right">
<p> Somos profesionales del mundo de la informática y la programación que creemos en el trabajo bien hecho. <br>
    Apoyamos que la tecnología esté al alcance de todos para acercarnos y humanizarnos. <br>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-terminal-fill" viewBox="0 0 16 16">
        <path d="M0 3a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3zm9.5 5.5h-3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zm-6.354-.354a.5.5 0 1 0 .708.708l2-2a.5.5 0 0 0 0-.708l-2-2a.5.5 0 1 0-.708.708L4.793 6.5 3.146 8.146z"/>
    </svg>
    Amamos a los animales tanto como picar código. <br>
    Creemos que hay esperanza para el cuidado de los animales y las personas y en cómo la tecnología puede ayudarnos a conseguirlo.
</p>
</div>
</div>

<div id="amarillo">
<h3>¿Cómo puedes colaborar?</h3>
<div id="filaTres">
    <img src="./assets/images/LOVEANIMAL.jpg" id="imagenTres" class="rounded float-left">
<p> Descargándote nuestra aplicación <strong>Adopta Una Mascota</strong> y compartiendola por redes sociales.<br>
    Si conoces a alguien que quiera adoptar una mascota ¡háblale de nosotros! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-wink-fill" viewBox="0 0 16 16">
        <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM7 6.5C7 5.672 6.552 5 6 5s-1 .672-1 1.5S5.448 8 6 8s1-.672 1-1.5zM4.285 9.567a.5.5 0 0 0-.183.683A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75.5.5 0 0 0-.683-.183zm5.152-3.31a.5.5 0 0 0-.874.486c.33.595.958 1.007 1.687 1.007.73 0 1.356-.412 1.687-1.007a.5.5 0 0 0-.874-.486.934.934 0 0 1-.813.493.934.934 0 0 1-.813-.493z"/>
      </svg>
    <br>
    Si ya no puedes cuidar de tu mascota, contacta con nosotros ¡te ayudaremos encantados! <br>
    Y sobretodo siendo responsable a la hora de decidir que quieres una mascota como compañero y miembro de la familia.</p>
</div>
</div>
</div>
</body>