* {
    box-sizing: border-box;
}

body {
    justify-content: center !important;
    justify-items: center !important;
    align-items: center;
    margin: auto;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 5rem;
    padding: 20px;
    margin-top: 50px;
    color: #292C35;
    font-weight: bold;
    text-shadow: 5px 5px 4px white;
    margin-top: 160px;
}

form {
    padding: 10px;
}

.container {
    justify-content: center !important;
    justify-items: center !important;
    align-items: center;
    margin: auto;
}

input {
    padding: 10px;
    border-color: #8FA5D5;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #292C35
}

input:focus {
    box-shadow: 0 0 5px #F7A940;
    border-width: 2px;
    padding: 10px;
    border-color: #F7A940;
    background-color:whitesmoke;
}

::placeholder {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #292C35;
}

#seleccionarProvincia {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #292C35;
    border-color: #8FA5D5;
}

#seleccionarProvincia:focus {
    box-shadow: 0 0 5px #F7A940;
    border-width: 2px;
    padding: 10px;
    border-color: #F7A940;
    background-color:whitesmoke;
}

select {
    padding: 8px;
    border-color: #8FA5D5;
    border-width: 2px;
}

label {
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    font-weight: bold;
    color: #D18DBC;
}

button {
    padding: 10px;
    margin: 10px;
    background-color: #D18DBC;
    border-color: white;
    border-width: 2px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-size: large;
    transition-duration: 0.2s;
}

button:hover {
    padding: 10px;
    margin: 10px;
    background-color: white;
    border-color: #D18DBC;
    color: #292C35;
    border-width: 2px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
    box-shadow: 12px 12px 2px 1px;
}

button:disabled {
    padding: 10px;
    margin: 10px;
    background-color: #D18DBC;
    border-color: white;
    border-width: 2px;
    width: 120px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: large;
}

#flotante {
    background:rgba(255,255,255,0.4);
    border-radius: 20px;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

.bloque {
    padding-bottom: 10px;
}

textarea {
    padding: 10px;
    border-color: #8FA5D5;
    border-width: 2px;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1rem;
    color: #292C35;
}

#textArea:focus {
    box-shadow: 0 0 5px #F7A940;
    border-width: 2px;
    padding: 10px;
    border-color: #F7A940;
    background-color:whitesmoke;
}
#botones {
    text-align: center;
}

.form-check-input:checked, .form-check-input:checked {
    border: 2px solid #8FA5D5;
    color: #8FA5D5;
    background-color: #8FA5D5;
}